@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  cursor: default;
}

a {
  cursor: pointer;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

ol li, ul li {
  list-style-position: inside;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button {
  padding: 30px 60px;
  border: 1px solid #dfdfdf;
  color: #003c5d;
  font-size: 14px;
}

.button:hover {
  -webkit-box-shadow: 0px 0px 2px #dfdfdf;
          box-shadow: 0px 0px 2px #dfdfdf;
  font-size: 14.25px;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

.button:active {
  font-size: 14px;
  -webkit-box-shadow: inset 0px 0px 2px #dfdfdf;
          box-shadow: inset 0px 0px 2px #dfdfdf;
  background: rgba(223, 223, 223, 0.7);
}

body {
  font-family: "Open Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
/* Paragraphs and Links */
p, a {
  font-size: 17px;
  line-height: 1.25;
}

/*  Links Within Paragraphs*/
p a {
  color: inherit;
  -webkit-box-shadow: inset 0px -5px 0px #9acd91;
          box-shadow: inset 0px -5px 0px #9acd91;
}

p a:hover {
  color: white;
  -webkit-box-shadow: inset 0px -100px 10px #9acd91;
          box-shadow: inset 0px -100px 10px #9acd91;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul li,
ol li {
  line-height: 1.5rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: "Roboto", monospace, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 20px;
  line-height: 1.5rem;
}

h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.828rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.414rem;
}

h4 {
  font-size: 0.707rem;
}

h5 {
  font-size: 0.4713333333333333rem;
}

h6 {
  font-size: 0.3535rem;
}

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}

table td,
table th {
  padding: 0;
  line-height: 33px;
}

/* Code blocks */
code {
  vertical-align: bottom;
}

/* -------------------------------- 

Compiled CSS From https://github.com/CodyHouse/stretchy-navigation/blob/master/css/style.css

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 72.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #003c5d;
  background-color: #ffffff;
}

a {
  color: #9acd91;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* -------------------------------- 

Stretchy Nav style - common to:
 - basic navigation
 - add-content navigation
 - edit-content navigation

-------------------------------- */
.cd-stretchy-nav {
  position: fixed;
  z-index: 2;
  top: 40px;
  right: 5%;
  pointer-events: none;
}

.cd-stretchy-nav .stretchy-nav-bg {
  /* this is the stretching navigation background */
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #9acd91;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: height 0.2s, box-shadow 0.2s;
  -webkit-transition: height 0.2s, -webkit-box-shadow 0.2s;
  transition: height 0.2s, -webkit-box-shadow 0.2s;
  transition: height 0.2s, box-shadow 0.2s;
  transition: height 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.cd-stretchy-nav.nav-is-visible {
  pointer-events: auto;
}

.cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
  height: 100%;
  -webkit-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.cd-nav-trigger {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  /* replace text with image */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  pointer-events: auto;
}

.cd-nav-trigger span, .cd-nav-trigger span::after, .cd-nav-trigger span::before {
  /* this is the hamburger icon */
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #ffffff;
}

.cd-nav-trigger span {
  /* middle line of the hamburger icon */
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.cd-nav-trigger span::after, .cd-nav-trigger span::before {
  /* top and bottom lines of the hamburger icon */
  content: '';
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.cd-nav-trigger span::before {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

.cd-nav-trigger span::after {
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
}

.no-touch .cd-nav-trigger:hover ~ .stretchy-nav-bg {
  -webkit-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.nav-is-visible .cd-nav-trigger span {
  background-color: transparent;
}

.nav-is-visible .cd-nav-trigger span::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-is-visible .cd-nav-trigger span::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-stretchy-nav ul {
  position: relative;
  z-index: 2;
  padding: 60px 0 0;
  visibility: hidden;
  -webkit-transition: visibility 0.3s;
  transition: visibility 0.3s;
  text-align: right;
}

.cd-stretchy-nav ul a {
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 calc(1em + 60px) 0 1em;
  color: #003c5d;
  font-size: 1.4rem;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.cd-stretchy-nav ul a::after {
  /* navigation item icons */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  right: 22px;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  opacity: .6;
  background: url(../../images/icons/cd-sprite-1.svg) no-repeat 0 0;
}

.cd-stretchy-nav ul a::before {
  /* line visible next to the active navigation item */
  content: '';
  position: absolute;
  width: 3px;
  height: 16px;
  top: 50%;
  right: 60px;
  -webkit-transform: translateX(3px) translateY(-50%) scaleY(0);
  transform: translateX(3px) translateY(-50%) scaleY(0);
  background-color: #0a9581;
}

.cd-stretchy-nav ul li:first-of-type a::after {
  /* change custom icon using image sprites */
  background-position: -32px 0;
}

.cd-stretchy-nav ul li:nth-of-type(2) a::after {
  background-position: -64px 0;
}

.cd-stretchy-nav ul li:nth-of-type(3) a::after {
  background-position: -48px 0;
}

.cd-stretchy-nav ul li:nth-of-type(4) a::after {
  background-position: 0 0;
}

.cd-stretchy-nav ul li:nth-of-type(5) a::after {
  background-position: -16px 0;
}

.cd-stretchy-nav ul span {
  /* navigation item labels */
  display: block;
  opacity: 0;
  -webkit-transform: translateX(-25px);
  transform: translateX(-25px);
}

.cd-stretchy-nav.nav-is-visible ul {
  visibility: visible;
}

.cd-stretchy-nav.nav-is-visible ul a::after {
  /* navigation item icons */
  -webkit-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -webkit-animation: scaleIn 0.15s backwards;
  animation: scaleIn 0.15s backwards;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.cd-stretchy-nav.nav-is-visible ul a.active {
  color: #ffffff;
}

.cd-stretchy-nav.nav-is-visible ul a.active::after {
  opacity: 1;
}

.cd-stretchy-nav.nav-is-visible ul a.active::before {
  -webkit-transform: translateX(3px) translateY(-50%) scaleY(1);
  transform: translateX(3px) translateY(-50%) scaleY(1);
  -webkit-transition: -webkit-transform 0.15s 0.3s;
  transition: -webkit-transform 0.15s 0.3s;
  transition: transform 0.15s 0.3s;
  transition: transform 0.15s 0.3s, -webkit-transform 0.15s 0.3s;
}

.cd-stretchy-nav.nav-is-visible ul span {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: slideIn 0.15s backwards;
  animation: slideIn 0.15s backwards;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover {
  color: #ffffff;
}

.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover::after {
  opacity: 1;
}

.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover span {
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
}

.cd-stretchy-nav.nav-is-visible ul li:first-of-type a::after,
.cd-stretchy-nav.nav-is-visible ul li:first-of-type span {
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}

.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(2) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(2) span {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(3) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(3) span {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(4) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(4) span {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(5) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(5) span {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

/* -------------------------------- 

add-content navigation style

-------------------------------- */
.cd-stretchy-nav.add-content {
  bottom: 50px;
  top: auto;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 300px;
}

.cd-stretchy-nav.add-content .stretchy-nav-bg {
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #8ac57f;
  -webkit-transition: width 0.2s, box-shadow 0.2s;
  -webkit-transition: width 0.2s, -webkit-box-shadow 0.2s;
  transition: width 0.2s, -webkit-box-shadow 0.2s;
  transition: width 0.2s, box-shadow 0.2s;
  transition: width 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.cd-stretchy-nav.add-content.nav-is-visible .stretchy-nav-bg {
  width: 100%;
  -webkit-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.cd-stretchy-nav.add-content .cd-nav-trigger {
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #9acd91;
}

.cd-stretchy-nav.add-content .cd-nav-trigger span {
  background-color: transparent;
}

.cd-stretchy-nav.add-content .cd-nav-trigger span::before {
  /* used to create the plus icon */
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.cd-stretchy-nav.add-content .cd-nav-trigger span::after {
  /* used to create the plus icon */
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.cd-stretchy-nav.add-content.nav-is-visible .cd-nav-trigger {
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.cd-stretchy-nav.add-content.nav-is-visible .cd-nav-trigger span::before {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.cd-stretchy-nav.add-content.nav-is-visible .cd-nav-trigger span::after {
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.cd-stretchy-nav.add-content ul {
  padding-top: 0;
}

.cd-stretchy-nav.add-content ul::after {
  clear: both;
  content: "";
  display: table;
}

.cd-stretchy-nav.add-content ul li {
  display: inline-block;
  width: 60px;
}

.cd-stretchy-nav.add-content ul li:nth-of-type(2) {
  /* space occupied by the navigation trigger */
  margin-right: 60px;
}

.cd-stretchy-nav.add-content ul a {
  padding: 0;
  height: 60px;
  width: 100%;
}

.cd-stretchy-nav.add-content ul a::after {
  top: 50%;
  left: 22px;
  right: auto;
  -webkit-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  background-image: url(../../images/icons/cd-sprite-2.svg);
}

.cd-stretchy-nav.add-content ul li:first-of-type a::after {
  background-position: -16px 0px;
}

.cd-stretchy-nav.add-content ul li:nth-of-type(2) a::after {
  background-position: 0px 0px;
}

.cd-stretchy-nav.add-content ul li:nth-of-type(3) a::after {
  background-position: -48px 0px;
}

.cd-stretchy-nav.add-content ul li:nth-of-type(4) a::after {
  background-position: -32px 0px;
}

.cd-stretchy-nav.add-content ul li:first-of-type a::after,
.cd-stretchy-nav.add-content ul li:nth-of-type(4) a::after {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.cd-stretchy-nav.add-content ul li:nth-of-type(2) a::after,
.cd-stretchy-nav.add-content ul li:nth-of-type(3) a::after {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.cd-stretchy-nav.add-content.nav-is-visible ul a::after {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
  -webkit-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
}

.cd-stretchy-nav.add-content ul span {
  position: absolute;
  left: 0;
  top: -20px;
  width: 100%;
  padding: 0.6em 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  font-size: 1.2rem;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s;
  /* reset default style */
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.cd-stretchy-nav.add-content ul span::after {
  /* triangle below the tooltip */
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.8);
}

.cd-stretchy-nav.add-content.nav-is-visible ul span {
  /* reset default style */
  -webkit-animation: none;
  animation: none;
}

.no-touch .cd-stretchy-nav.add-content.nav-is-visible ul a:hover span {
  opacity: 1;
  visibility: visible;
  /* reset default style */
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* -------------------------------- 

edit content

-------------------------------- */
.cd-editable-content {
  /* used to wrap the image and the navigation */
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
}

.cd-editable-content img {
  display: block;
  border-radius: .25em;
}

.cd-stretchy-nav.edit-content {
  position: absolute;
  top: 0;
  right: 0;
}

.cd-stretchy-nav.edit-content .stretchy-nav-bg {
  height: 30px;
  width: 30px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background 0.2s, height 0.2s;
  transition: background 0.2s, height 0.2s;
}

.cd-stretchy-nav.edit-content.nav-is-visible .stretchy-nav-bg {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* reset default style */
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cd-stretchy-nav.edit-content .cd-nav-trigger {
  height: 30px;
  width: 30px;
}

.cd-stretchy-nav.edit-content .cd-nav-trigger span {
  opacity: 0;
  background-color: transparent;
}

.cd-stretchy-nav.edit-content .cd-nav-trigger span::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cd-stretchy-nav.edit-content .cd-nav-trigger span::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-stretchy-nav.edit-content .cd-nav-trigger span, .cd-stretchy-nav.edit-content .cd-nav-trigger span::before, .cd-stretchy-nav.edit-content .cd-nav-trigger span::after {
  /* used to create the 'X' icon when the navigation is open */
  width: 12px;
}

.cd-stretchy-nav.edit-content .cd-nav-trigger::after {
  /* edit icon */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../../images/icons/cd-sprite-3.svg) no-repeat 0 0;
}

.cd-stretchy-nav.edit-content .cd-nav-trigger span, .cd-stretchy-nav.edit-content .cd-nav-trigger::after {
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.no-touch .cd-stretchy-nav.edit-content .cd-nav-trigger:hover ~ .stretchy-nav-bg {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cd-stretchy-nav.edit-content.nav-is-visible .cd-nav-trigger span {
  opacity: 1;
}

.cd-stretchy-nav.edit-content.nav-is-visible .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-stretchy-nav.edit-content.nav-is-visible .cd-nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.cd-stretchy-nav.edit-content.nav-is-visible .cd-nav-trigger::after {
  /* hide edit icon */
  opacity: 0;
}

.cd-stretchy-nav.edit-content ul {
  padding-top: 30px;
}

.cd-stretchy-nav.edit-content ul a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
}

.cd-stretchy-nav.edit-content ul a::after {
  right: 7px;
  background-image: url(../../images/icons/cd-sprite-3.svg);
}

.cd-stretchy-nav.edit-content ul li:first-of-type a::after {
  background-position: -16px 0;
}

.cd-stretchy-nav.edit-content ul li:nth-of-type(2) a::after {
  background-position: -32px 0;
}

.cd-stretchy-nav.edit-content ul li:nth-of-type(3) a::after {
  background-position: -48px 0;
}

.cd-stretchy-nav.edit-content ul li:nth-of-type(4) a::after {
  background-position: -64px 0;
}

.cd-stretchy-nav.edit-content ul span {
  position: absolute;
  top: 0;
  right: 35px;
  height: 30px;
  line-height: 30px;
  padding: 0 1em;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 2px;
  text-align: center;
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s;
}

.cd-stretchy-nav.edit-content ul span::after {
  /* triangle below the tooltip */
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-left-color: rgba(0, 0, 0, 0.55);
}

.cd-stretchy-nav.edit-content.nav-is-visible ul span {
  /* reset default style */
  -webkit-animation: none;
  animation: none;
}

.no-touch .cd-stretchy-nav.edit-content.nav-is-visible ul a:hover span {
  opacity: 1;
  visibility: visible;
  /* reset default style */
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* -------------------------------- 

main content basic style

-------------------------------- */
.cd-main-content {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding: 100px 0;
  background-color: #003c5d;
}

/* -------------------------------- 

keyframes

-------------------------------- */
@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0);
  }
  to {
    -webkit-transform: translateY(-50%) scale(1);
  }
}

@keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
  }
  to {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
  }
}

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

main[role="main"] {
  max-width: 1600px;
  margin: 30px 15px;
}

@media (min-width: 800px) {
  main[role="main"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px auto;
  }
}

@media (min-width: 500px) {
  main[role="main"] article,
  main[role="main"] aside {
    margin: 15px;
  }
}

@media (min-width: 800px) {
  main[role="main"] article,
  main[role="main"] aside {
    margin: 30px;
    padding: 15px;
  }
}

@media (min-width: 1200px) {
  main[role="main"] article,
  main[role="main"] aside {
    margin: 30px;
  }
}

main[role="main"] section.the-content {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 800px) {
  main[role="main"] section.the-content {
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
  }
}

@media (min-width: 500px) {
  main[role="main"] section.the-content {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}

@media (min-width: 800px) {
  main[role="main"] section.the-content {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
}

@media (min-width: 1200px) {
  main[role="main"] section.the-content {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}

main[role="main"] section.the-content article {
  padding-bottom: 60px;
  position: relative;
}

main[role="main"] section.the-content article:nth-child(n + 2) {
  padding-top: 60px;
  border-top: 1px solid #dfdfdf;
}

main[role="main"] section.the-content article h3,
main[role="main"] section.the-content article p {
  margin: 15px 0;
}

@media (min-width: 800px) {
  main[role="main"] section.the-content article h3,
  main[role="main"] section.the-content article p {
    margin: 30px 0;
  }
}

main[role="main"] section.the-content article h1,
main[role="main"] section.the-content article h3 {
  margin: 0;
  padding: 0;
}

main[role="main"] section.the-content article h1 {
  margin-left: -3px;
}

main[role="main"] section.the-content article h1.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: 60px;
  margin-bottom: 0;
  padding-bottom: 0;
}

main[role="main"] section.the-content article h3.rotate {
  margin-top: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main[role="main"] section.the-content article h3.date-published {
  margin: 30px 0;
  padding: 0;
}

main[role="main"] section.the-content article h3.date-published span {
  margin: 0;
  padding: 0;
}

main[role="main"] section.the-content article h3.date-published span.day {
  font-size: 20px;
  margin-top: 4px;
}

main[role="main"] section.the-content article .author {
  font-size: 72%;
  font-weight: 700;
}

main[role="main"] section.the-content article figure {
  padding: 30px 0 15px 0;
}

@media (min-width: 500px) {
  main[role="main"] section.the-content article figure {
    padding: 60px 0;
  }
}

main[role="main"] section.the-content article img {
  width: calc(100%);
  height: auto;
  padding: 0;
  margin: 0;
}

main[role="main"] section.the-content article figcaption {
  font-size: 10px;
  text-align: right;
  opacity: 0.3;
  text-decoration: underline;
  padding-bottom: 15px;
}

main[role="main"] section.the-content .load-more-posts {
  text-align: center;
  display: block;
  margin: 60px auto;
}

main[role="main"] #left {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

@media (min-width: 500px) {
  main[role="main"] #left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

main[role="main"] #right {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 500px) {
  main[role="main"] #right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #dfdfdf;
}

header .the-content {
  margin: auto auto auto 0;
  padding: 15px;
  max-width: 80%;
}

header .the-content h1 {
  font-size: 30px;
  margin: 0;
}

@media (min-width: 500px) {
  header .the-content {
    margin: auto;
    text-align: center;
    margin-top: 15px;
  }
  header .the-content h1 {
    font-size: 4.242rem;
    margin: 1.5rem auto;
  }
}

@media (min-width: 1200px) {
  header .the-content {
    padding-top: 30px;
    padding-bottom: 120px;
    margin-top: 120px;
  }
}

footer {
  margin-top: 60px;
}

@media (min-width: 800px) {
  footer {
    margin: 120px auto;
  }
}

footer section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

footer section ul li {
  display: inline-block;
  margin: 0 15px;
}

footer section ul li a {
  color: inherit;
}

footer section ul li a svg {
  fill: currentColor;
}

.sticky-note-footer {
  margin-top: 60px;
  padding: 30px;
  padding: 15px 30px;
  background: rgba(255, 255, 255, 0.95);
}

@media (min-width: 800px) {
  .sticky-note-footer {
    position: fixed;
    -webkit-box-shadow: 0px 0px 2px #dfdfdf;
            box-shadow: 0px 0px 2px #dfdfdf;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  .sticky-note-footer p {
    display: block;
  }
  .sticky-note-footer p,
  .sticky-note-footer a {
    font-size: 14px;
    font-style: italic;
  }
}

/****************************************/
/* Styling rules, such as font and colors */
.date-as-calendar {
  border: 2px solid #003c5d;
  overflow: hidden;
}

.date-as-calendar .weekday,
.date-as-calendar .day,
.date-as-calendar .month,
.date-as-calendar .year {
  text-align: center;
  line-height: 1.0;
}

.date-as-calendar .month {
  text-transform: uppercase;
  background: #003c5d;
  color: white;
}

/****************************************/
/* Layout rules using position: absolute and pixels. */
.position-pixels.date-as-calendar {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.position-pixels.date-as-calendar .weekday,
.position-pixels.date-as-calendar .day,
.position-pixels.date-as-calendar .month,
.position-pixels.date-as-calendar .year {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1em;
}

.position-pixels.date-as-calendar .month {
  top: 0px;
  font-size: 12px;
  padding: 2px 0;
}

.position-pixels.date-as-calendar .weekday {
  top: 16px;
  font-size: 10px;
}

.position-pixels.date-as-calendar .day {
  top: 26px;
  font-size: 24px;
}

.position-pixels.date-as-calendar .year {
  top: 50px;
  font-size: 14px;
}

/****************************************/
/* Layout rules using position: absolute and relative dimensions using em. */
.position-em.date-as-calendar {
  display: inline-block;
  position: relative;
  width: 4em;
  height: 4em;
}

.position-em.date-as-calendar .weekday,
.position-em.date-as-calendar .day,
.position-em.date-as-calendar .month,
.position-em.date-as-calendar .year {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1em;
}

.position-em.date-as-calendar .month {
  top: 0px;
  font-size: 0.75em;
  padding: 0.1em 0;
}

.position-em.date-as-calendar .weekday {
  top: 1.6em;
  font-size: 0.6125em;
}

.position-em.date-as-calendar .day {
  top: 1.1em;
  font-size: 1.5em;
}

.position-em.date-as-calendar .year {
  bottom: 0px;
  font-size: 0.87750em;
}

/****************************************/
/* Layout rules using display: inline-flex and relative dimensions using em. */
.inline-flex.date-as-calendar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 4em;
  height: 4em;
}

.inline-flex.date-as-calendar .weekday,
.inline-flex.date-as-calendar .day,
.inline-flex.date-as-calendar .month,
.inline-flex.date-as-calendar .year {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.inline-flex.date-as-calendar .month {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 0.75em;
  padding: 0.1em 0;
}

.inline-flex.date-as-calendar .weekday {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-size: 0.6125em;
}

.inline-flex.date-as-calendar .day {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  font-size: 1.5em;
}

.inline-flex.date-as-calendar .year {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  font-size: 0.87750em;
}

/****************************************/
/* Multiple sizes. */
.date-as-calendar.size0_5x {
  font-size: 8px;
}

.date-as-calendar.size0_75x {
  font-size: 12px;
}

.date-as-calendar.size1x {
  font-size: 16px;
}

.date-as-calendar.size1_25x {
  font-size: 20px;
}

.date-as-calendar.size1_5x {
  font-size: 24px;
}

.date-as-calendar.size1_75x {
  font-size: 28px;
}

.date-as-calendar.size2x {
  font-size: 32px;
}

.date-as-calendar.size3x {
  font-size: 48px;
}

.cards {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card {
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-top: 30px;
}

.card svg {
  fill: currentColor;
  display: block;
  margin: 0 auto 30px;
}

@media (min-width: 800px) {
  .card {
    margin-top: 60px;
  }
}

.card:hover .card__inner {
  background-color: #003c5d;
}

.card__inner {
  padding: 30px;
  position: relative;
  cursor: pointer;
  background-color: #003c5d;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card__inner:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card__inner .fa {
  width: 100%;
  margin: 7.5px auto 7.5px;
}

.card__expander {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  text-transform: uppercase;
  font-size: 1.5em;
}

.card__expander .fa {
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.card__expander .fa:hover {
  opacity: 0.9;
}

.card.is-collapsed {
  margin-bottom: 15px;
}

.card.is-collapsed .card__inner:after {
  content: "";
  opacity: 0;
}

.card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}

.card.is-expanded .card__inner {
  background-color: #003c5d;
  height: 0;
  padding: 0;
}

.card.is-expanded .card__inner:after {
  content: "[ Close]";
  font-size: 14px;
  opacity: 1;
  color: #dfdfdf;
  display: block;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.card.is-expanded .card__inner:before {
  content: "⊗";
  font-size: 34px;
  opacity: 1;
  color: #dfdfdf;
  display: block;
  position: absolute;
  bottom: -10px;
  right: 0;
  text-align: center;
}

.card.is-expanded .card__expander {
  overflow: visible;
  opacity: 1;
}

.card.is-expanded:hover .card__inner {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.card.is-inactive .card__inner {
  pointer-events: none;
  opacity: 0.5;
}

.card.is-inactive:hover .card__inner {
  background-color: #003c5d;
  -webkit-transform: scale(1);
          transform: scale(1);
}

iframe {
  width: 100%;
  min-height: 300px;
  padding: 30px 0 5px;
}

@media (min-width: 500px) {
  iframe {
    min-height: 450px;
    padding: 30px 0 15px;
  }
}
/*# sourceMappingURL=style.css.map */