header {
    display: flex;
    border-bottom: 1px solid $grey;

    .the-content {
        margin: auto auto auto 0;
        padding: $base-spacing/2;
        max-width: 80%;
        h1 {
            font-size: 30px;
            margin: 0;
        }

        @include breakpoint(small) {
            margin: auto;
            text-align: center;
            margin-top: $base-spacing / 2;
            h1 {
                font-size: 4.242rem;
                margin: 1.5rem auto;
            }
        }

        @include breakpoint(large) {
            padding-top: $base-spacing;
            padding-bottom: $base-spacing * 4;
            margin-top: $base-spacing * 4;
        }
    }
}
