$grey: rgb(223, 223, 223);
$greya: rgba(223, 223, 223, .7);
$black: rgb(27, 27, 27);
$white: rgb(255, 255, 255);
$color-1: #003c5d; // Astronaut Blue
$color-2: $black; // De York
$color-3: $white; // White
$color-3a: rgba(255, 255, 255, 0.95); // White
$color-4: #9acd91; // green
$color-4a: rgba(154, 205, 145, 0.9); // green

